
.logo{
    width: 4rem;
}





/* footer QR image*/
.qr {
    width: 7rem;
    height: 7rem;
}
/* footer QR text*/
.qr-container span {
    font-size: 1rem;
}
/* footer text*/
footer h4 {
    font-size: 2rem;
}


/* cookies */
#cookieConsent {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 15px;
    display: none;
    z-index: 1000;
}
#cookieConsent a {
    color: #4CAF50;
    text-decoration: none;
}
#cookieConsent button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
#cookieConsent button#rejectCookies {
    background-color: #f44336; 
}

/*home*/
.block1 {
    background-image: url('../images/backgroud1.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 8rem;
    padding-top: 8rem;
    background-color: white;
    background-position: center;
}
/*about us*/
.block2 {
    background-color: #F2F2F2;

}

/*header*/
.custom-text {
    color: black;

    font-weight: bold;
}
/*text*/
.custom-text2 {
    color: black;
    font-size: 0.75rem;

}
/*icon*/
.icon-background {
    background-color: #FCF3F3;
    border-radius: 50px;
    color: #ce1212;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;

}




@media (max-width: 1000px) {
    .qr {
        width: 4rem;
        height: 4rem;
    }

    .footer {
        height: 20rem;

    }

}

@media (max-width: 786px) {
    .logo{
        width: 4rem;
    }
    .qr {
        width: 4rem;
        height: 4rem;
    }

    .footer {
        height: 15rem;

    }

    .qr-container span {
        font-size: 0.875rem;

    }

    footer h4 {
        font-size: 1.25rem;

    }




}

@media (max-width: 576px) {
    .footer {
        height: 10rem;
    }

    .qr {
        width: 2.5rem;
        height: 2.5rem;
    }
    .logo{
        width: 2.5rem;
    }

    .qr-container span {
        font-size: 0.75rem;

    }

    footer h4 {
        font-size: 1rem;

    }

    #cookieConsent {
        padding: 10px;
    }
    
    #cookieConsent button {
        padding: 8px 16px;
        margin: 3px;
    }
    .block1 {

        padding-bottom: 1rem;

    }

    #headerNav > button, #headerNav > div{

        
        display: none;
    }



}





