body {
    background-color: #faf3d9;
}
.logo{
    width: 6rem;
}
/* first 3 items image */
.grid-item {
    height: 20rem;
}

/* second 2 items image */
.service-item {
    height: 25rem;
}

/*cart text*/
.description {
    min-height: 120px;
    max-height: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-title {
    min-height: 50px;
}

/* footer backgroud*/
.footer {
    background-image: url("../images/footer.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 28rem;
    width: 100%;
}

/* footer QR image*/
.qr {
    width: 7rem;
    height: 7rem;
}
/* footer QR text*/
.qr-container span {
    font-size: 1rem;
}
/* footer text*/
footer h4 {
    font-size: 2rem;
}


/* cookies */
#cookieConsent {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 15px;
    display: none;
    z-index: 1000;
}
#cookieConsent a {
    color: #4CAF50;
    text-decoration: none;
}
#cookieConsent button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
#cookieConsent button#rejectCookies {
    background-color: #f44336; 
}




@media (max-width: 1000px) {
    .qr {
        width: 4rem;
        height: 4rem;
    }

    .footer {
        height: 20rem;

    }
}

@media (max-width: 786px) {
    .logo{
        width: 4rem;
    }
    .qr {
        width: 4rem;
        height: 4rem;
    }

    .footer {
        height: 15rem;

    }

    .qr-container span {
        font-size: 0.875rem;

    }

    footer h4 {
        font-size: 1.25rem;

    }
}

@media (max-width: 576px) {
    .footer {
        height: 10rem;
    }

    .qr {
        width: 2.5rem;
        height: 2.5rem;
    }
    .logo{
        width: 2.5rem;
    }

    .qr-container span {
        font-size: 0.75rem;

    }

    footer h4 {
        font-size: 1rem;

    }

    #cookieConsent {
        padding: 10px;
    }
    
    #cookieConsent button {
        padding: 8px 16px;
        margin: 3px;
    }

}

